# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.x'
        architecture: 'x64'
    - name: Install JupyterLab and Extensions
      run: pip install jupyterlab && pip install jupyter_contrib_nbextensions && jupyter contrib nbextension install --user
    - name: Enable Jupyter Extensions
      run: jupyter nbextension enable python-markdown/main
    - name: Generate html 
      run: jupyter nbconvert analysis/testnet-analysis.ipynb --TemplateExporter.exclude_input=True --to html && mkdir -p public && mv analysis/testnet-analysis.html public/
    - name: Deploy to GitHub Pages
      if: success()
      uses: crazy-max/ghaction-github-pages@v2
      with:
        target_branch: gh-pages
        build_dir: public
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

